.MenuList {
line-height:42px;
}

.MenuList li {
float:left;
margin-right:10px;
font-size:14px;
font-weight:700;
}

#slidewigetscontrols {
position:absolute;
bottom:0;
left:0;
}

.SearchBar {
padding:12px 0 0;
}

.SearchBar table td {
padding:0;
}

.SearchBar .search_label {
padding:0 10px 0 0;
}

.SearchBar .search_label span {
display:none;
}

.SearchBar .keywords {
background:url(../images/eric_search_input.jpg) no-repeat scroll 0 0 #fff;
border:0 none;
height:26px;
line-height:26px;
width:340px;
padding:0 0 0 60px;
}

.SearchBar .btn_search {
border:none;
width:74px;
height:26px;
font-size:0;
overflow:hidden;
line-height:9999px;
cursor:pointer;
margin-top:0;
}

.SearchBar .btn_advsearch {
color:#fff;
padding-left:8px;
}

.mktprice1 {
text-decoration:line-through;
}

.more {
text-align:right;
margin:3px 0 0;
}

.Article-Tabs,.GoodsList-Tabs {
border-color:#ccc;
margin:0;
}

.Article-Tabs .current,.GoodsList-Tabs .current {
background:#5d355f;
color:#fff;
}

.GoodsListWrap {
padding-top:0;
}

.itemsWrap h6 {
font-weight:400;
text-decoration:underline;
}

.itemsWrap {
line-height:18px;
}

.RankingList .pic {
text-align:center;
}

.RankingList li span {
font-size:16px;
color:#7f3217;
font-weight:700;
margin-right:5px;
}

.OrderList .orderprice {
color:#900;
display:block;
padding:0 0 0 15px;
}

.SiteMaps h3 a {
background:url(../images/arrs.gif) no-repeat 0 -82px;
padding:0 0 0 13px;
}

.Navigation {
border:none;
color:#2E2E2E;
font-weight:700;
border-bottom:1px solid #eee;
line-height:32px;
margin-bottom:10px;
}

.Navigation span {
color:#C60;
font-weight:400;
}

.Navigation .now {
font-weight:400;
color:#FE5B03;
}

.Navigation a {
color:#333;
}

#catebox .c-cat-depth-1 {
width:150px;
float:left;
}

.c-cat-depth-1,.s-cat-depth-1 {
padding-left:12px;
padding-top:5px;
padding-bottom:5px;
border-color:#FDE6D2;
border-style:solid;
border-width:0 0 1px;
}

.c-cat-depth-1 a,.s-cat-depth-1 a {
background:none;
line-height:24px;
padding:0;
}

.c-cat-depth-2,.s-cat-depth-2 {
line-height:150%;
padding-left:15px;
}

.c-cat-depth-2 a,.s-cat-depth-2 a {
background:none;
border:none;
font-weight:400;
color:#000;
font-size:12px;
border-bottom:1px solid #ddd;
display:inline;
margin:0;
padding:0;
}

.c-cat-depth-3,.s-cat-depth-3 {
margin:3px 0 0 10px;
}

.c-cat-depth-3 a,.s-cat-depth-3 a {
color:#666;
background:none;
display:inline;
border:0;
padding:0 8px 0 0;
}

.e-cat-depth-1 p {
border-bottom:1px solid #E1E1E1;
margin:0;
padding:2px 0 2px 10px;
}

.e-cat-depth-2 p {
border:none;
padding:2px 0;
}

.e-cat-depth-3 {
padding:0 0 0 20px;
}

.e-cat-depth-1 .nosymbols,.e-cat-depth-1 .symbols {
display:block;
float:left;
width:10px;
}

.e-cat-depth-1 .symbols {
background:url(../images/arrs.gif) no-repeat 0 -83px;
text-indent:-9999px;
}

.e-cat-depth-1 .show {
background-position:0 -113px;
}

.e-cat-depth-1 span {
cursor:pointer;
margin:0 2px;
}

.e-cat-depth-1 a {
color:#576060;
font-weight:700;
}

.e-cat-depth-2 {
margin-left:25px;
}

.e-cat-depth-2 a {
font-weight:400;
color:#576060;
}

.e-cat-depth-3 a {
color:#2C4F83;
}

.TreeList .cat2 {
background:url(../images/arrs.gif) no-repeat 10px -83px;
}

.ShopCartWrap a,.ShopCartWrap a:hover {
color:#000;
}

.RankingList li,.OrderList li,.SiteMaps td a {
padding:5px;
}